.venv/
__pycache__/
*.pyc
data/crops/
*.zip
models/
.DS_Store
PaddleOCR/
data/
videos/
frames/
plate_crops/
plate_quality/
labeling_set/
ocr_dataset/
ocr_train/
ocr_test/
*.mp4
*.mov
*.avi
*.pdparams
*.pdiparams
*.onnx
yolo11n.pt
